* {
    font-family: Nunito, sans-serif;
}

.text-blk {
    margin: 0;
    line-height: 25px;
}

.responsive-cell-block {
    min-height: 75px;
}

.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
}

.outer-container {
    padding: 10px 50px;
    background-color: #0365d62a;
}

.inner-container {
    max-width: 1320px;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}

.section-head-text {
    margin: 0 0 10px 0;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    color: #2D50A3;
}

.section-subhead-text {
    font-size: 25px;
    color: rgb(153, 153, 153);
    line-height: 35px;
    max-width: 470px;
    text-align: center;
    margin: 0 0 60px 0;
}

.img-wrapper {
    margin: 0 0 20px 0;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-links {
    width: 125px;
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 20px;
    font-weight: 700;
    color: rgb(102, 102, 102);
    margin: 0 0 5px 0;
}

.position {
    font-size: 15px;
    font-weight: 700;
    color: #2D50A3;
    margin: 0 0 20px 0;
}

/* Ajustement de la taille des cercles */
.team-card-container {
    width: 200px; /* Réduit la largeur du cercle */
    margin: 0 0 30px 0; /* Ajuste l'espacement */
}

.team-img {
    width: 150px; /* Ajuste la taille de l'image à l'intérieur */
    height:150px; /* ajustez selon vos besoins */; /* Maintient le ratio de l'image */
    border-radius: 50%; /* Assure que l'image reste circulaire */
}

@media (max-width: 500px) {
    .outer-container {
        padding: 10px 20px;
    }

    .section-head-text {
        text-align: center;
    }

    /* Réduction supplémentaire pour les petits écrans */
    .team-card-container {
        width: 150px; /* Réduit encore plus la taille */
    }
}
