@import url("../css/fonts.css");

html,
body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #afafaf;
    --midnight: #ffffff;
    --blue: #6495ED;
    --dark-blue: #6495ED;

    /* gradient color   */
    --sky:  linear-gradient(120deg, #272d8d8f 0%, #6495ed 100%);

    /*      theme font-family   */
    --Abel: "Abel", cursive;
    --Anton: "Anton", cursive;
    --Josefin: "Josefin", cursive;
    --Lexend: "Lexend", cursive;
    --Livvic: "Livvic", cursive;
    --Montserrat: "Montserrat", cursive;
    --Roboto: "Roboto", cursive;
    --Helvetica: "Helvetica", cursive;
}
/* ---------------- Global Classes ---------------*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue);
}

a {
    text-decoration: none;
    color: var(--blue);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    align-items: center;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2 {
    font-family: var(--Lexend);
    
}

h3 {
    font-family: var(--Abel);
    font-size: 1.3rem;
}

h4 {
    font-family: var(--Roboto);
}

button.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span {
    font-family: var(--Abel);
}

.sec-container {
    margin: 1vw 2vw;
}

.text-gray {
    color: var(--text-gray);
}

p {
    font-family: var(--Lexend);
     
    color: #000000da;
}

/* ------x------- Global Classes -------x-------*/

/* --------------- popup ----------------- */

.swal2-html-container {
    line-height: 1.8;
}

.rib {
    color: var(--blue);
    font-family: var(--Roboto);
    font-weight: bold;
}

/* ------x------- popup -------x-------*/

/* --------------- navbar ----------------- */


.nav {
    background: #6495ED;
    padding: 0 2rem;
    height: 70px; /* ajusté pour correspondre au min-height */
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center; /* align-items au lieu de align-content pour centrer verticalement */
    transition: height 1s ease-in-out;
}

.nav .nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .toggle-collapse {
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: #ffffff; /* changé de var(--text-white) */
}

.collapse {
    height: 35rem;
}

.nav .nav-items {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav .nav-items .nav-link {
    padding: 0.2rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Roboto);
    color: #ffffff; /* changé de var(--white) */
    border-right: 1px solid #ffffff; /* changé de var(--white) */
}

.nav .nav-items .nav-link:last-child {
    border-right: 0;
}

.nav .nav-items .nav-link:first-child {
    border-left: 0; /* supprimé la bordure gauche */
}

.nav .nav-items .nav-link:hover {
    background-color: #191970; /* changé de var(--midnight) */
}

.nav .nav-items .nav-link:hover a {
    color: #ffffff; /* changé de var(--white) */
}

.nav .social {
    padding: 1.4rem 0;
    font-size: 1.4rem; /* ajusté pour correspondre à la taille des icônes */
}

.nav .social a {
    padding: 0 0.3rem; /* réduit l'espacement entre les icônes */
    color: #ffffff; /* changé de var(--text-white) */
}

.nav .social i:hover {
    color: #eeeeee;
}

/* -------x------- navbar ---------x------- */

/* ----------------- Main Content----------- */

/* --------------- Site title ---------------- */

main .site-title {
    background-image: url("../images/2.jpeg");
    background-size: cover;
    background-position: center center;
    height: 90vh;
}

main .site-background-blur {
    height: 90vh;
    width: 100vw;
    background: #ffffff9c;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

main .site-title .site-intro {
    text-align: center;
    color: #2D50A3;
}

main .logo-pic {
    height: 250px;
}

main .site-title h1,
h3 {
    margin: 0.3rem;
}

main .site-title h3 {
    color: var(--bg-color);
}

/* --------x------ Site title --------x------- */

/* ---------------- Site Content ----------------*/

main .presentation {
    text-align: center;
}

main .site-content {
    display: grid;
    grid-template-columns: 70% 30%;
}

main .site-content {
    text-align: center;
}

main .round-card {
    background: rgba(52, 81, 158, 0.05);
    padding: 30px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 4px;
    margin: 20px;
}

main .tabs-elements {
    display: flex;
    height: 40rem;
    width: 100vw;
}

main .tabs-elements .targets {
    width: 80vw;
}

main .tabs-elements .tabs {
    width: 40vw;
}

main .tabs-elements .cover {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

main .tabs-elements #_target_1 {
    background-image: url(../images/Action/ramdan.jpeg);
}

main .tabs-elements #_target_2 {
    background-image: url(../images/Action/donsang.JPG);
}

main .tabs-elements #_target_3 {
    background-image: url(../images/Action/aid.PNG);
}

main .tabs-elements #_target_4 {
    background-image: url(../images/Action/douar.PNG);
}
main .tabs-elements #_target_5 {
    background-image: url(../images/Action/douar.PNG);
}
main .tabs-elements #_target_6 {
    background-image: url(../images/Action/ftour.JPG);
}


main .tabs-elements .tabs li {
    display: flex;
    height: 25%;
    justify-content: center;
    font-size: 1.2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

main .tabs-elements .tabs li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

main .tabs-elements .tabs li p {
    margin: 0;
    font-size: 0.8rem;
}

main .active {
    color: #597ade !important;
    background: inear-gradient(114deg, #34519e29 0%, #6f91eb 100%)  !important;
}

main .members {
    text-align: center;
}

main .members .row-1,
.row-2,
.row-3,.row-4 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

main .members-info {
    width: 20vw;
    height: 100%;
}


main .profile-pic {
    width: 130px;
    height: 130px;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 50%);
    border: 2px solid var(--blue);
    border-radius: 50%;
}


main .full {
    margin: 1rem 0 !important;
}

main .quote {
    background: var(--sky);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main .quote .seperator {
    width: 50px;
    border-top: 2px white solid;
}

main .quote h5 {
    font-family: var(--Helvetica);
    font-size: 18px;
}

main .quote h6 {
    font-family: var(--Helvetica);
    font-style: italic;
    font-size: 12px;
}

main .contacts {
    width: 100vw;
    padding: 1rem;
    background: var(--sky);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .contacts h2 {
    font-size: 1rem;
    text-align: center;
}

main .contacts-info {
    height: 20vw;
    width: 90vw;
    display: flex;
}

main .contacts-box {
    width: 30vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0%;
}

main .border-right {
    border-right-width: 1px;
    border-right-color: rgba(51, 51, 51, 0.12);
    border-right-style: solid;
}
  
.commenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
}

.full-boxer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.comment-box:hover{
    margin-top: 12px;
}

.comment-box{
    width: 500px;
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
}

.Profile{
    display: flex;
    align-items: center;
}

.profile-image{
    width: 70px;
    height: 70px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.Name{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.Name strong{
    color: black;
    font-size: 18px;
}

.Name span{
    color: gray;
    margin-top: 2px;
}

.comment p{
    color: black;
}



.our-clients {
	width: 100%;
	height: auto;
	text-align: center;
}
.our-clients  hr{
	width: 15%;
	height: 5px;
    border: none;
	background: #2D50A3;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.our-clients ul {
	padding: 0;
	margin: 0;
}

.our-clients ul li {
	list-style: none;
	display: inline-block;
	width:180px;
	height:100px;
	position: relative;
	overflow: hidden;
	cursor:pointer;
	margin: 10px;
	box-shadow: 0px 0px 10px -7px #555;
	transition: .5s;
}

.our-clients ul li img {
	
	height: 100%;
}
.our-clients ul li img:nth-child(1) {
	transform: translateY(0);
	transition: .5s;
}
.our-clients ul li img:nth-child(2) {
	transform: translateY(0);
	transition: .5s;
}
.posts hr{
	width: 15%;
	height: 5px;
    border: none;
	background:#2D50A3;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px
}

.presentation hr{
	width: 15%;
	height: 5px;
    border: none;
	background:#2D50A3;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px
}
/*Hover-Section*/


.our-clients ul li:hover img:nth-child(1) {
	transform: translateY(-100%);
	transition: .5s;
}
.our-clients ul li:hover img:nth-child(2) {
	transform: translateY(-100%);
	transition: .5s;
}



/* -------x-------- Site Content --------x-------*/

/* --------------- Sidebar ----------------------- */

.site-content .right-sidebar {
    position: relative;
    align-self: center;
}

/* -------x------- Sidebar -----------x----------- */

/* ---------x------- Main Content -----x----- */

/* ----------------- Footer --------------------- */

footer.footer {
    height: 100%;
    background: var(--dark-blue);
    position: relative;
}

footer.footer .sec-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer.footer .sec-container > div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1rem 0.9rem;
}

footer.footer .sec-container h2 {
    color: black;
}

footer.footer .sec-container p {
    text-align: justify;
}

footer.footer .follow .follow-icons {
    display: flex;
    flex-wrap: wrap;
}

footer.footer .follow a {
    color: var(--white);
    width: 50%;
    margin: 1rem 0;
}

footer.footer .follow a {
    font-family: var(--Roboto);
}

footer.footer .follow i::before {
    margin: 1rem;
}

footer.footer .follow a:visited {
    color: #1d1d1d;
}

footer.footer .rights {
    justify-content: center;
    font-family: var(--Helvetica);
}

footer.footer .righs h5 {
    font-size: 0.5rem;
}

footer.footer .rights h5 a {
    color: var(--white);
}

footer.footer .move-up {
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span {
    color: var(--emsi);
}

footer.footer .move-up span:hover {
    color: var(--white);
    cursor: pointer;
}

/* ---------x------- Footer ----------x---------- */

/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px) {
    .site-content .sidebar .popular-post .post-info {
        display: none !important;
    }

    footer.footer .sec-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*      x       Viewport less then or equal to 1130px    x     */

/*              Viewport less then or equal to 1024px            */

@media only screen and (max-width: 1024px) {
    main .members-info {
        width: 40vw;
    }
}

/*      x       Viewport less then or equal to 1024px    x     */

/*              Viewport less then or equal to 920px            */

@media only screen and (max-width: 920px) {
    main .tabs-elements {
        height: auto;
        flex-direction: column;
    }

    main .tabs-elements .targets {
        height: 100vw;
        width: 100vw;
        order: 2;
    }

    main .tabs-elements .tabs {
        width: 100vw;
        order: 1;
    }

    main .contacts-info {
        height: auto;
    }

    main .contacts-info {
        flex-direction: column;
        align-items: center;
    }

    main .contacts-box {
        width: 90vw;
    }

    main .border-right {
        border-right: none;
        border-bottom-width: 1px;
        border-bottom-color: rgba(51, 51, 51, 0.12);
        border-bottom-style: solid;
    }
}

/*      x       Viewport less then or equal to 920px    x     */

/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px) {
    .nav .mobile-nav {
        display: flex;
    }

    .nav .nav-brand {
        width: 100%;
    }

    .nav .nav-menu,
    .nav .nav-items {
        height: auto;
        flex-direction: column;
    }

    .nav .nav-brand {
        height: 64px;
        display: flex;
        align-items: center;
        text-align: start;
    }

    .nav .nav-brand a {
        font-size: 1rem;
    }

    .nav .toggle-collapse {
        height: 25px;
        width: 25px;
        display: flex;
        position: absolute;
        right: 5%;
        top: 3%;
    }

    .nav .nav-items .nav-link {
        padding: 1.5rem 1rem;
        text-align: center;
        border-right: 0;
        border-left: 0;
        border-top: 1px solid var(--blue);
        border-bottom: 1px solid var(--blue);
    }

    .nav .nav-items .nav-link:last-child {
        border-bottom: 0;
    }

    .nav .nav-items .nav-link:first-child {
        border-top: 0;
    }

    main .site-title {
        flex-direction: column;
    }

    main .site-content {
        grid-template-columns: 100%;
    }

    footer.footer .sec-container {
        grid-template-columns: repeat(1, 1fr);
    }

    footer.footer .follow a {
        font-size: 0.9rem;
    }
}

/*        x      Viewport less then or equal to 750px       x     */

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
    .swal2-title {
        font-size: 25px;
    }
    footer.footer .sec-container > div {
        padding: 1rem 0.9rem !important;
    }

    footer .rights {
        padding: 0 1.4rem;
        text-align: center;
    }
}

/*        x      Viewport less then or equal to 520px       x     */
